#navigation {
	padding: 20px;
	font-size: 1.5em;
	color: #FFF;
	background-color: rgb(0,175,255);
}
.refresh {
	background-color: rgba(255,255,255,1);
	color: rgba(0,175,255,1);
	padding: 10px 20px;
	border-radius: 2px;
	cursor: pointer;

	transition-property: background-color color;
	transition-duration: .25s;
	transition-timing-function: ease;
}
.refresh:hover {
	color: #F933AB;
}
.refresh:active {
	background-color: rgba(255,255,255,.8);
}

#jokeEditor {
	padding: 20px 0;
}

.joke {
	font-size: 0;
	border: 1px solid #DDD;
}

.joke > div {
	font-size: 24px;
}
.joke i {
	cursor: pointer;
}
.joke i:hover {
	color: #F933AB;
}
.joke-rating {
	text-align: center;
	background-color: rgb(0,175,255);
	color: #FFF;
}
.score {
	display: inline-block;
	width: 35%;
}
.joke-content:hover {
	cursor: pointer;
	color: rgb(0,175,255);
}
.punchline {
	color: #F933AB;
}
.author {
	border-radius: 4px;
	padding: 0 10px;
	border: 1px solid #CCC;
	color: rgb(0,175,255);

}