<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Views</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore.js"></script>

</head>
<body>


	<script id="userTemplate" type="text/html">
		<div class="user">
			<img src="http:placehold.it/50x50" alt="">
			<span class="name"> <%= last %> </span>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quam commodi saepe possimus dolorum ex quas aut culpa quod. Distinctio odio consequatur quam culpa, quisquam tempore beatae aperiam delectus a?</p>
			<div class="tag">Friend</div>
		</div>
	</script>

	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>