<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Views</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

	<div id="app">
		<nav id="navigation" class="clearfix">
			<span class="refresh pull-right">
				<i class="fa fa-refresh"></i> Refresh
			</span>
		</nav>
		<div id="content" class="container-fluid">

			<!-- Our Joke Editor -->
			<form id="jokeEditor" class="form-horizontal">
				<div class="page-header">
					<h3>Joke Editor</h3>
				</div>
				<div class="form-group">
					<label for="author" class="col-sm-2 control-label">Author</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="author" placeholder="Your Name">
					</div>
				</div>
				<div class="form-group">
					<label for="joke" class="col-sm-2 control-label">Joke</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="joke" placeholder="Enter Joke">
					</div>
				</div>
				<div class="form-group">
					<label for="punchline" class="col-sm-2 control-label">Punchline</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="punchline" placeholder="Enter Punchline">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button id="submitJoke" type="button" class="btn btn-default">Submit</button>
					</div>
				</div>
			</form>

			<!-- Our Joke List -->
			<div class="page-header">
				<h3>Joke List</h3>
			</div>
			<div id="jokeList" class="container">
<!-- 				<div class="joke row">
					<div class="joke-rating col-md-2">
						<i class="fa fa-thumbs-o-up funny"></i>
						<div class="score">0</div>
						<i class="fa fa-thumbs-o-down notFunny"></i>
					</div>
					<div class="joke-content col-md-10">
						<div class="statement"><span class="author">Jin</span> Why did the chicken cross the road?</div>
						<div class="punchline hidden">To get to the other side.</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<script id="jokeTMP" type="text/html">
		<div class="joke row">
			<div class="joke-rating col-md-2">
				<i class="fa fa-thumbs-o-up funny"></i>
				<div class="score"><%= score %></div>
				<i class="fa fa-thumbs-o-down notFunny"></i>
			</div>
			<div class="joke-content col-md-10">
				<div class="statement"><span class="author"><%= author %></span> <%= joke %></div>
				<div class="punchline hidden"><%= punchline %></div>
			</div>
		</div>
	</script>






	<!-- Import main libraries -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://www.parsecdn.com/js/parse-1.3.4.min.js"></script>
	<!-- Including Underscore, which Parse doesn't seem to "global" -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore.js"></script>
	
	<!-- And our own custom scripts -->

	<!-- Models -->
	<script type="text/javascript" src="js/models/joke.js"></script>
	<!-- Views -->
	<script type="text/javascript" src="js/views/navbar.js"></script>
	<script type="text/javascript" src="js/views/jokeEditor.js"></script>
	<script type="text/javascript" src="js/views/jokeView.js"></script>

	<!-- App -->
	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>
