.user {
	position: relative;
	border: 1px solid #DDD;
	padding: 20px;
	margin: 20px;
}

.user img {
	width: 50px;
	float: left;
	margin-right: 20px;
}

.user .tag {
	position: absolute;
	right: 0;
	top: 0;
	background-color: teal;
	color: white;
	padding: 10px;
}